html, body{
    font-family: 'Noto Sans', 'sans-serif';
    a{
       text-decoration: blink;
       font-size: 14px;
    }
    li{
        list-style: none;
    }
}
.menu-icon, #menu{
    position: fixed;
    left: 2%;
    top: 4%;
    z-index: 99;
}
.menu-icon{
    img{
        position: fixed;
    }
    a img{
        left: 100px;
    }
}
#menu{
    top: 10%;
    left: -1%;
    line-height: 2em;
    display: none;
    a{
        color: #414042;;
        font-family: 'Adobe Song Std';
        letter-spacing: 1.7px;
   }
    li{
        width: 200px;
        border-radius: 15px 15px 15px 15px;
        padding: 2px 0px 0px 15px;
    }
    li.active{
        background: #F05F6D;
        a{
            color: #fff;
         }
     }
     
}
ul#menu.active{
    display: block;
}
#ticket{
    padding-right: 5px;
}

.share, #share_menu{
    position: fixed;
    float: right;
    right: 6%;
    top: 4%;
    bottom: -5px;
    width: 20px;
    z-index: 99;
}
#share_menu{
    display: none;
    top: 0%;
}
ul#share_menu.active{
    display: block;
}

.section{
   min-height: 678px;
   background-position: 100% 240px;
   background-repeat: no-repeat;
   background-size: 100%, 95%;
   background-position-x: 50%;
   background-position-y: 240px;
   padding: 42px;
   overflow: auto;
   border-top: 14px solid rgba(0, 167, 157, 0.4);
 
    .content {
        height: inherit;
        width: 43%;
        min-width: 280px;
        margin: auto;
        .title {
            font-weight: 700;
            img{
                width: 100%;
                position: relative;
                margin-top: 99px;
                left: 9%;
            }
        }
    }
}


#section1{
   //background-image: url("../img/background.jpg");
   //background: white 89px 78px no-repeat;
   .content{
       width: 100%;
       height: inherit;
       position: relative;
        .logo{
            left: 43%;
            position: relative;
            width: 12%;
       }

       h1{
         position: relative;
         font-size: 24px;
         color: #414042;;
         letter-spacing: 0.4em; 
         font-weight: lighter;

         font-family: 'Adobe Song Std';
         text-align: center;
       }
   }
}
#section2{
    .content img{
        position: absolute;
        left: 79%;
        width: 183px;
    }
}

.section:before{
    content: "";
    position: absolute;
    top: -5px;
    bottom: -5px;
    width: 10px;
    left: 0px;
}

.section:after{
    content: "";
    position: absolute;
    top: -5px;
    bottom: -5px;
    width: 10px;
    right: 0px;
}
.section:before, .section:after{
    /* Safari 5.1 to 6.0 */
    background: -webkit-repeating-linear-gradient(transparent, rgba(0, 167, 157, 0.4) 1.5%, transparent 60%, transparent, 100%);
    /* Opera 11.1 to 12.0 */
    background: -o-repeating-linear-gradient(transparent, rgba(0, 167, 157, 0.4) 1.5%, transparent 60%, transparent, 100%);
    /* Firefox 3.6 to 15 */
    background: -moz-repeating-linear-gradient(transparent, rgba(0, 167, 157, 0.4) 1.5%, transparent 60%, transparent 100%);
    /* Standard syntax */
    background: repeating-linear-gradient(transparent, rgba(0, 167, 157, 0.4) 1.5%, transparent 60%, transparent 100%); 
}

.social_icon{
    position: relative;
    z-index: 10;
}
div#___plus_0 {
    z-index: 1;
    position: absolute;
    top: 81px;
    iframe{
        width: 4px !important;
    }
}

iframe#twitter-widget-0 {
    width: 62px !important;
    right: 5px;
    position: relative;
    z-index: 1;
}

span.pluginButtonLabel{
    display:none;
}
.pluginButtonImage{
    
    button{
        position: relative;
        top: 40px;
        right: -16px;
        z-index: 1;
    }
}

.speaker_thumb{
    float: left;
    position: relative;
    top: 71px;
    left: 50px;
    img{
        width: 80px;
    }
}

.tedxtainan{
    width: 250px;
    position: fixed;
    margin: auto;
    z-index: 10;
    right: 3%;
    bottom: 10px;
    z-index: 10;
}

.countdown {
    width: 630px;
    position: relative;
    padding: 4px;
    letter-spacing: 0.01em;
    font-weight: lighter;
    font-size: 46px;
    top: 50px;
    margin: auto;
    color: #666666;
}
.time{
    font-size: 18px;
    position: relative;
    top: -60px;
    right: -10.5%;
    margin: auto;
    color: #F05F6D;
    font-weight: 700;
    #day, #hour, #min, #sec{
        letter-spacing: 0em;
    }

#section1 .logo {
    width: 18%;
}

}

@media screen and (min-width: 640px) and (max-width: 1024px) {
    #section1{
        background-position-y: 280px;
    }
   /* .countdown{
       left: 19%;
    }*/
    #section1 .content .logo {
        width: 14%;
    }
}
@media screen and (max-width: 640px) and (min-width: 100px){
    #section1{
        background-position-y: 300px;
    }
    #section2{
        font-size: 12px;
    }
    .countdown{
       font-size: 16px;
       top: 69px;
       left: 0%;
       width: 372px;
    }
    .time {
       right: -8%;
       font-size: 14px;
    }
    #section1 .content{ 
        margin: auto;
        left: 0;
        right: 0;
        position: absolute;
        top: 30px;
        .logo {
            width: 22%;
            left: 40%;
         }
         h1{
            font-size: 16px;
          }
     }
    .tedxtainan{
            left: 0;
            right: 0;
            bottom: 0;
     }


    .speaker_thumb {
        left: 10px;
        top: 0px;
        top: -40px;
        img{
            width: 60%;
        }
    }
    #section2 .content img, .back {
        display: none;
    }
}
.bottom{
    position: fixed;
    background: linear-gradient(to top,#fff 8%,#FFF,rgba(243, 243, 243, 0) 100%);
    width: 100%;
    height: 167px;
    display: block;
    z-index: 5;
    bottom: 0px;
}
