<div class="share" ng-show="!share.isOpen">
  <img ng-click="share.toggle()" ng-src="{{share.image.svg}}">
</div>
<ul id="share_menu" ng-class="{ active: share.isOpen }">
   
  <li>
  <a facebook class="facebookShare" data-url='http://www.tedxtainan.com/the-era-new-thoughts-2014/' data-shares='shares'>
    <img class="social_icon" src="assets/img/Facebook.svg"/>
  </a>
  </li>
  <li>
  <a twitter  data-lang="en" data-count='horizontal' data-url='https://www.tedxtainan.com/the-era-new-thoughts-2014/' data-via='notsosleepy' data-size="medium" data-text='Testing Twitter Share' >
    <img class="social_icon" src="assets/img/Twitter.svg"/>
  </a>
  </li>
  <li>
  <a href="https://plus.google.com/share?url=https://www.tedxtainan.com/the-era-new-thoughts-2014/" onclick="javascript:window.open(this.href,
    '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
    <img class="social_icon" src="assets/img/GooglePlus.svg"/>
  </a>
  </li>
  <li>
    <img class="social_icon" src="assets/img/Pinterest.svg"/>
  <div pintrest data-href='https://www.tedxtainan.com/the-era-new-thoughts-2014/' data-description='testing share'  data-pin-do='buttonPin' data-pin-config='beside'></div>
  </li>
  <li><a ng-click="share.toggle()">
    <img class="social_icon" src="assets/img/clickbutton.svg"/>
  </a>
  </li>
</ul>
